.chat-message{
    display: flex;
    background-color: #dcf8c6;
    width: fit-content;
    flex-direction: column;
    margin: 15px 30px 15px 30px;
    padding: 5px 10px 5px 10px;
    position: relative;
    border-radius: 10px;
    height: fit-content;
}
.chat-message-text{
    text-align: left;
    font-size: 14px;
    padding-right: 55px;
}
.chat-message-date{
    align-self: flex-end;
    font-size: 11px;
    color: gray;
    font-weight: normal;
    margin-top: -8px;
}

.chat-input{
    background-color: #ededed;
    display: flex;
    padding: 12px 16px 12px 12px;
    align-items: center;
    position: relative;
}
.chat-input-btn{
    margin: 5px 15px 0px 5px;
}
.chat-input-btn>.MuiSvgIcon-root{
    color: #51585c;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    padding-left: 10px;

}
.chat-input>form{
    flex: 1;
    margin-right: 10px;
}
.chat-input>form>input{
    height: 40px;
    width: 97%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}