.sidebar{
    min-width: 300px;
    width: 30%;
    border-right: 1px solid lightgrey;
    /* background-color: #fafafa; */
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sidebar-header{
    height: 50px;
    padding: 5px 0px 5px 10px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.sidebar-header-img{
    width: 42px;
    height: 42px;
}
.sidebar-header-img > img{
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 50%;
}
.sidebar-header-btn{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #51585c;
}
.sidebar-searchbar{
height: 50px;
display: flex;
align-items: center;
justify-content: center;
border-bottom: 1px solid lightgrey;
}

.sidebar-searchbar-input{
    display: flex;
    width: 90%;
    background-color: #ededed;
    height: 32px;
    border-radius: 7px;
    align-items: center;
}
.sidebar-searchbar-input>.MuiSvgIcon-root{
    font-size: 18px;
    color: #51585c;
    margin-left: 10px;
    cursor: pointer;
}
.sidebar-searchbar-input>input{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
    width: 80%;
}
.sidebar-chatlist{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}